<form action="/{{data.id}}/edit" method="post">
  <input type="text" name="name" value="{{data.name}}">
  <textarea name="body" rows="15">{{data.body}}</textarea>
  <button type="submit">Submit Changes</button>
</form>
